@{
  ViewBag.Title = "Wachtwoord vergeten";
}

@section head {
    <link rel="stylesheet" href="~/Content/account.css"/>
}

<div class="container">
    <div class="row group-shadow">
        <div class="col-xs-12">
            <h1>@ViewBag.Title</h1>
            <hr/>
            <p>Controleer a.u.b. uw e-mail om uw wachtwoord opnieuw in te stellen.</p>
            @Html.ActionLink("Keer terug naar homepage", "Index", "Home", routeValues: null, htmlAttributes: new { id = "home-link", @class = "btn btn-default" })
        </div>
    </div>
</div>

