@{
  ViewBag.Title = "Wachtwoord opnieuw instellen";
}

@section head {
    <link rel="stylesheet" href="~/Content/account.css"/>
}

<div class="container">
    <div class="row group-shadow">
        <div class="col-xs-12">
            <h1>@ViewBag.Title.</h1>
            <hr/>
            <p>Uw wachtwoord is succesvol gewijzigd.</p>
            @Html.ActionLink("Klik hier om in te loggen", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary" })
        </div>
    </div>
</div>
