@{
  ViewBag.Title = "Info";
}

<div class="container">
    <div class="row group-shadow">
        <div class="col-xs-12">
            <h1>@ViewBag.Title.</h1>
            <p class="subtitle-gray">@ViewBag.Message</p>
        </div>
    </div>
</div>
